body {
  background-color: #e6ffff;
}

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid black;
  font-weight: lighter;
}

.portfolio-item {
  background-color: white;
  margin-top: 50px;
  padding: 10px;
  outline: 1px solid black;
  font-size: 18px;
}

.portfolio-image {
  border: 1px solid black;
  float: left;
  margin: 10px;
}
