body {
  background-color: #ffff99;
}

header {
  background-image: url("Sun Beams with Orange Yellow Blurred.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  padding-top: 20px;
  color: black;
}

h2 {
  font-family: 'Bangers', cursive;
  padding-top: 10px;
  color: black;
}

a {
  color: black;
}

footer {
  margin-top: 50px;
  padding-top: 5px;
  border-top: 1px solid black;
  font-weight: lighter;
}

.portfolio-item {
  background-color: white;
  margin-top: 50px;
  padding: 10px;
  outline: 1px solid black;
  font-size: 18px;
}

.portfolio-image {
  border: 1px solid black;
  padding: 2px;
  float: left;
  margin: 10px 20px 10px 10px;
}

.sub-head {
  margin-top: 100px;
}

.stat-card {
  padding-left: 50px;
  float: left;
}
